@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-weight: 400;
  line-height: 1;
}
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 1200px) {
  .hero {
    background-image: url("../../public/emmy-lilly-2-dogs-bg.png");
    background-size: cover;
    background-position-x: right;
  }

  .contacts {
    background-image: url("../../public/emmy-dog-image.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 70%;
  }

  .paw2 {
    position: absolute;
    left: 75%;
    bottom: 75%;
  }
  /* .product_wrapper {
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 70% 100%, 100% 70%);
  } */
  /* .product_wrapper:before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -80px;
    right: -80px;
    border-top: 180px solid #ffeacb;
    border-left: 180px solid #ffeacb;
    width: 0;
    background: #ffeacb;
    border-radius: 100px;
  } */
}

.swiper-pagination-bullet {
  background: #ff8667 !important;
  display: inline-block !important;
  vertical-align: middle !important;
  opacity: 0.5 !important;
  height: 10px !important;
  width: 10px !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}
