@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-weight: 400;
  line-height: 1;
}
body {
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
